*{
  margin:0;
}
.app {
  background-color: lightgray;
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: auto; /* Add this to enable vertical scrolling */
  display: flex;
  justify-content: center;
  align-items: center;
}